# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv311/
.env/
.venv/

# VSCode
.vscode/

# pipenv
Pipfile.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
